* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --DarkViolet: hsl(256, 26%, 20%);
    --GrayishBlue: hsl(216, 30%, 68%);

    --VeryDarkViolet: hsl(270, 9%, 17%);
    --DarkGrayishViolet: hsl(273, 4%, 65%);
    --VeryLightGray: hsl(0, 0%, 98%);

    --fmTitulo: 'DM Serif Display', serif;
    --fmBody: 'Karla', sans-serif;
    --fmTamanho: 3.5rem;
    --fmTamanhoP: 1.1rem;
}

/* Estilos Gerais */

h1 {
    font-family: var(--fmTitulo);
    text-align: center;
    font-size: var(--fmTamanho)
}

img {
    width: 100%;
}

section {
    width: 100%;
}

body {
    border: 1px solid black;
}

p{
    font-family: var(--fmBody);
    text-align: center;
    color: var(--DarkGrayishViolet);
    font-weight: 600;

    font-size: var(--fmTamanhoP);
}

a {
    text-decoration: none;
    color: var(--DarkGrayishViolet);
    font-weight: 600;

    font-family: var(--fmBody);
}

/* Estilos Gerais */
.header {
    border: 1px solid red;
    padding: 1.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img__mobile
{
    display: none;
}

@media screen and (min-width:725px) {

.header
{
    padding: 1.5rem 5rem;
}
.header__menu
{
    display: none;
}
.header__lista-a
{
    padding: .5rem;
    margin-left: .5rem;
    border: 1px solid red;   
}

}

/* pagina/section */

.section__planos {
    display: flex;

    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5rem 1rem;

    background: var(--DarkViolet);
}

.section__titulo {
    color: var(--VeryLightGray);
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.section__botao
{
    border: 2px solid var(--DarkGrayishViolet);
    padding: 1rem 2rem;
    margin-top: 2rem;
    width: 10rem;
    text-transform: uppercase;
}
.section__bg-esquerdo
{
    position: absolute;
    top: 0;
    width: 47%;
    left: 0;
}

.section__bg-direito
{
    position: absolute;
    bottom: -14rem;
    right: 0;
    width: 29%;
}

@media screen and (min-width:725px)
{
  
    .section__planos
    {
        padding: 15rem;
        align-items: flex-start;
        border: 1px solid yellow;
        
    }
    
    .section__texto
    {
        border: 1px solid yellow;
    }
    
   .section__conteudo
   {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   }

    #img__desktop
    {
        width: 30%;
        position: absolute;
        z-index: 2;
        top: 10rem;
        right: 8rem;
    }


}